@page "/pizzeria/criteria/{PizzeriaId:int}"
@attribute [Authorize(Roles = "admin")]
@using XFoodBlazor.Web.Client.Services.Criterion;
@using XFoodBlazor.Web.Client.Services.Criterion.Create;
@using XFoodBlazor.Web.Client.Services.Criterion.Delete;
@using XFoodBlazor.Web.Client.Services.Criterion.Update;
@using XFoodBlazor.Web.Client.Services.Pizzeria
@using XFoodBlazor.Web.Client.Services.Pizzeria.GetPizzeria
@inject IPizzeriaService PizzeriaService
@inject ICriterionService CriterionService

@if (response != null)
{
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p><i class="bi bi-plus"></i> Пиццерия: @response.Pizzeria?.Name</p>
        <button class="btn btn-sm btn-success" @onclick="AddCriterion">
            <span class="oi oi-plus" aria-hidden="true"></span>   Добавить новый критерий
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Раздел</th>
                <th>Что проверить</th>
                <th>MaxPoints</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @if (isAddingCriterion)
            {
                <tr>
                    <td>
                        <select @bind="createRequest.Section" class="form-control">
                            <option></option>
                            <option value="Потери">Потери</option>
                            <option value="Курьеры">Курьеры</option>
                            <option value="Кассир">Кассир</option>
                            <option value="Касса">Касса</option>
                            <option value="Тесто">Тесто</option>
                            <option value="Кухня">Кухня</option>
                            <option value="Ресторан">Ресторан</option>
                            <option value="Сотрудник">Сотрудник</option>
                            <option value="Прочие">Прочие</option>
                        </select>
                    </td>
                    <td>
                        <input @bind="createRequest.Name" class="form-control" />
                    </td>
                    <td>
                        <input @bind="createRequest.MaxPoints" class="form-control" />
                    </td>
                    <td>
                        <button class="btn btn-sm btn-success" @onclick="@(async () => await SaveNewCriterion())">
                            <i class="bi bi-check2"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" @onclick="CancelAddCriterion">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </td>
                </tr>
            }

            @foreach (var section in fixedSectionsOrder)
            {
                var group = response.Pizzeria.Criteria.Where(c => c.Section == section).OrderBy(c => c.Id);
                if (group.Any())
                {
                    var firstCriterion = group.First();
                    <tr>
                        <td rowspan="@group.Count()">@firstCriterion.Section</td>
                        <td>
                            @if (firstCriterion != editedCriterion)
                            {
                                @firstCriterion.Name
                            }
                            else
                            {
                                <textarea @bind="editedCriterion.Name" class="form-control" rows="2"></textarea>
                            }
                        </td>
                        <td>
                            @if (firstCriterion != editedCriterion)
                            {
                                @firstCriterion.MaxPoints
                            }
                            else
                            {
                                <input @bind="editedCriterion.MaxPoints" class="form-control" />
                            }
                        </td>
                        <td>
                            @if (firstCriterion != editedCriterion)
                            {
                                <button class="btn btn-sm btn-primary" @onclick="@(async () => await EditCriterion(firstCriterion))">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-success" @onclick="@(async () => await SaveEditedCriterion(firstCriterion))">
                                    <i class="bi bi-check2"></i>
                                </button>
                            }
                            <button class="btn btn-sm btn-danger" @onclick="@(async () => await DeleteCriterion(firstCriterion))">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                    @foreach (var criterion in group.Skip(1))
                    {
                        <tr>
                            <td>
                                @if (criterion != editedCriterion)
                                {
                                    @criterion.Name
                                }
                                else
                                {
                                    <textarea @bind="editedCriterion.Name" class="form-control" rows="2"></textarea>
                                }
                            </td>
                            <td>
                                @if (criterion != editedCriterion)
                                {
                                    @criterion.MaxPoints
                                }
                                else
                                {
                                    <input @bind="editedCriterion.MaxPoints" class="form-control" />
                                }
                            </td>
                            <td>
                                @if (criterion != editedCriterion)
                                {
                                    <button class="btn btn-sm btn-primary" @onclick="@(async () => await EditCriterion(criterion))">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-success" @onclick="@(async () => await SaveEditedCriterion(criterion))">
                                        <i class="bi bi-check2"></i>
                                    </button>
                                }
                                <button class="btn btn-sm btn-danger" @onclick="@(async () => await DeleteCriterion(criterion))">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>

    <p><span class="oi oi-list-rich" aria-hidden="true"></span> Максимальный балл: @TotalMaxPoints</p>
}
else
{
    <p><span class="oi oi-warning" aria-hidden="true"></span> Ошибка при загрузке данных.</p>
}

@code {
    [Parameter]
    public int PizzeriaId { get; set; }
    double TotalMaxPoints;
    GetPizzeriaRequest request = new GetPizzeriaRequest();
    GetPizzeriaResponse response;
    CreateCriterionRequest createRequest = new CreateCriterionRequest();
    CreateCriterionResponse createResponse;
    DeleteCriterionRequest deleteRequest = new DeleteCriterionRequest();
    DeleteCriterionResponse deleteResponse;
    UpdateCriterionRequest updateRequest = new UpdateCriterionRequest();
    UpdateCriterionResponse updateResponse;

    private CriterionView editedCriterion;
    private bool isAddingCriterion = false;

    private List<string> fixedSectionsOrder = new List<string>
    {
        "",
        "Потери",
        "Курьеры",
        "Кассир",
        "Тесто",
        "Кухня",
        "Ресторан",
        "Сотрудник",
        "Прочие"
    };

    protected override async Task OnInitializedAsync()
    {
        request.Id = PizzeriaId;
        response = await PizzeriaService.GetPizzeria(request);
        UpdateTotalPoints();
    }

    private async void UpdateTotalPoints()
    {
        TotalMaxPoints = response.Pizzeria.Criteria
            .Where(c => c.Section != "Критический фактор" && c.Section != "Wow Фактор")
            .Sum(c => c.MaxPoints);
    }

    private async Task EditCriterion(CriterionView criterion)
    {
        editedCriterion = criterion;
    }

    private async Task SaveEditedCriterion(CriterionView criterion)
    {
        updateRequest.Id = criterion.Id;
        updateRequest.Name = criterion.Name;
        updateRequest.MaxPoints = criterion.MaxPoints;
        updateRequest.Section = criterion.Section;
        updateResponse = await CriterionService.Update(updateRequest);
        editedCriterion = null;
        await OnInitializedAsync();
    }

    private async Task DeleteCriterion(CriterionView criterion)
    {
        deleteRequest.Id = criterion.Id;
        deleteResponse = await CriterionService.Delete(deleteRequest);
        await OnInitializedAsync();
    }

    private async Task SaveNewCriterion()
    {
        createRequest.PizzeriaId = response.Pizzeria.Id;
        createResponse = await CriterionService.Create(createRequest);
        isAddingCriterion = false;
        createRequest = new CreateCriterionRequest();
        await OnInitializedAsync();
    }

    private void CancelAddCriterion()
    {
        isAddingCriterion = false;
    }

    private void AddCriterion()
    {
        isAddingCriterion = true;
    }
}
